asgiref==3.8.1
Django==5.1.6
djangorestframework==3.15.2
sqlparse==0.5.3
typing_extensions==4.12.2
pillow
google-cloud-vision
requests
python-dotenv
psycopg2-binary
sqlalchemy
gunicorn==21.2.0
whitenoise==6.6.0
django-cors-headers==4.3.1